<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create colege details</title>
    {%  load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>


<div style="align-items: center">
    <form  method="post" role="form">
    <div class="form-group">
		<label for=" college "></label>
        {% csrf_token %}
        {{ form.as_p}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</body>
</html>