<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<h1>todolists</h1>
<table class="table table-striped" border="1">
    <thead>
        <tr>
         <th>item id</th>
         <th>item name</th>
         <th>created on</th>
        </tr>
    </thead>

        {% for list in lists %}
        <tr>
            <th scope="row"><a href="item/{{list.item_id }}">{{list.item_id }}</a></th>
            <td>{{ list.name}}</td>
            <td>{{list.created }}</td>
        </tr>
        {% endfor %}

</table>
</body>
</html>